<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>My name is Benjamin Velazquez. This is my first node.js project.</p>
        <a href="https://github.com/benjavel">My Github</a>
    </div>
    {{>footer}}
</body>
</html>